/* Contenitore mappa */
#map {
  width: 100%;
  height: 500px;
  z-index: 0; /* Evita che la mappa si sovrapponga a navbar/modal */
  border-radius: 8px;
  margin-top: 1rem;
}

.leaflet-popup-content {
    max-height: 300px;
    overflow-y: auto;
    width: 250px;
}